html {
    background-color: rgb(255, 229, 144);
	color: rgb(172, 43, 43);
    font-family: "Familjen Grotesk", sans-serif;
    margin: auto;
}

body {
    margin: auto;
    max-width: 1225px;
}

header {
    text-align: right;
    font-size: 20px;
}

.title-subtitle {
    position: fixed; 
    top: 20%;
    left: 20%;
    padding-left: 70px;
}

h1 {
    position: relative;
    text-align: center; 
    font-size: 96px;
    max-width: 735px;
    left: 20%;
}

h2 {
    position: relative;
    text-align: center; 
    font-size: 32px;
    max-width: 735px;
    left: 20%;
    font-style: italic;
    font-weight: 100;
    color: rgb(172, 43, 43);
}

.filters {
    position: relative;
    text-align: left; 
    font-size: 32px;
    line-height: 38px;
}

nav {
    position: relative;
    text-align: left; 
    font-size: 32px;
    line-height: 120px;
    top: 10%;
    padding: auto;
    padding-top: 60px;
}

a {
    text-decoration: none;
    max-width: fit-content;
    background-color: rgb(5, 90, 5);
    color:rgb(255, 229, 144);
    padding: 5px;
    border-radius: 3px;
}

h4 {
    font-size: 40px;
    font-weight: lighter;
    margin-top: 25px;
    margin-bottom: 25px;
    color:rgb(5, 90, 5);
}

h3 {
    position: relative;
    text-align: center; 
    font-size: 22px;
    max-width: 735px;
    left: 20%;
    font-style: italic;
    font-weight: lighter;
    font-weight: 100;
    color: rgb(172, 43, 43); 
}

a:hover {
    font-size: 38px;
}

marquee {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    body {
        margin: 10px;
    }

    h1 {
        
    }
  }