/* general styles */
html {
    background-color: #866E5D;
    color: #DDCFC4;
    font-family: "Glegoo", serif;
}

body{
    max-width: 830px;
    margin: auto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);}

p{
    max-width: 675px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#line1 {
    color:antiquewhite; 
    text-align: center;
}

.Part {
    font-size: 20px;
    line-height: 25px;
    margin-top: 50px;
    color: white;
}

/* main header */
.MainHeader {
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

/* Nav */
.Nav {
    position: sticky;
    text-align: center;
}

.Nav a {
    color: #Dcc4b4;
    text-decoration: none;
    font-size: 10px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.Nav-list {
    list-style-type: none;
    padding: 10px;
}

.Nav-item {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    margin-left: 15px;
    margin-right: 15px;
    border: #Dcc4b4 solid 1px;
    border-radius: 20px;
}

#home {
    background-color: #6a5444;
    border: #6a5444 solid 1px;
}