/* Group */
.Group {
    background-color: aqua;
    border: 1px solid blue;  
    padding: 10px;

    /* Grid */ 
    display: grid; 
    gap: 10px; 
    grid-template-columns: 1fr 1fr;
}

.Classmate {
    background-color: dodgerblue;
    border: 1px solid black;
    padding: 10px;
    color: blue;
}

.Main {
    display: grid; 
    gap: 10px; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#Luiza {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    /* Flex */
    display: flex;
    align-items: center;
    justify-content: center;
}