/* general styles */
html {
    background-color: #3B2D23;
    color: #DDCFC4;
    font-family: "Glegoo", serif;
}

body{
    max-width: 1200px;
    margin: auto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);}

p{
    max-width: 830px;
    text-align: center;
}

/* main header */
.MainHeader {
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

/* Nav */
.Nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.Nav a {
    color: white;
    text-decoration: none;
}

.Nav-list {
    list-style-type: none;
    padding: 0;
}

.Nav-item {
    display: inline-block;
    background: black;
    padding: 5px;
}