html {
    background-color: #192003;
    color: #DDCFC4;
    font-family: "Work Sans", sans-serif;
}

body {
    max-width: 850px;
    margin: auto;
}

h1 {
    font-size: 50px; 
    text-align: center;
    margin: 25px;
}

h2 {
    font-size: 35px; 
    text-align: center;
    font-weight: 100;
    line-height: 35px;
    padding: 10px;
    margin: 25px;
    font-style: italic;
    color: #C5b3a5;
}

h3 {
    font-size: 30px; 
    text-align: center;
    font-weight: 100;
    line-height: 35px;
    font-style: italic;
    color: #C5b3a5;
}

h4 {
    font-size: 25px; 
    text-align: center;
    font-weight: 100;
    line-height: 35px;
    font-style: italic;
    color: #C5b3a5;
}

img {
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto; 
    filter: grayscale(0.7);
    filter: brightness(0.7);
    filter: saturate(-0.7);
}

a {
    color: #Acb295;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #787e5d;
    border-radius: 20px;
    padding: 5px;
    padding-right: 7px;
}

a:hover {
    color: #DDCFC4; 
}