/* general styles */
html {
    background-color: orangered;
    color: black;
}

h1, h2, p {
    margin: 0;
}

body{
    max-width: 600px;
    margin: auto;
}

/* main header */
.MainHeader {
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

/* Part */
.Part {
    background-color: orange;
    padding: 10px;
    border: 1px solid black;
    margin: 50px 0px 50px 0;
}

#PartOne {
    background-color: black;
    color: grey;
}

#PartFive {
    background-color: antiquewhite;
    color: brown;
}

img, audio, video, object {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: block;
    margin-top: 10px;
}

object {
    aspect-ratio: 4/3;
}

/* Nav */
.Nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.Nav a {
    color: white;
    text-decoration: none;
}

.Nav-list {
    list-style-type: none;
    padding: 0;
}

.Nav-item {
    display: inline-block;
    background: black;
    padding: 5px;
}