html {
    background-image: url('background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    color: whitesmoke;
    font-family: "Raleway", sans-serif;
    background-color: #320000;
}

body {
    margin: auto;
    max-width: 1000px;
}

header {
    text-align: right;
    justify-content: flex-end;
    font-weight: 300px;
}

/*
nav {
    text-align: right;
    display: flex;
    justify-content: space-between;
}
*/

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}

/*
a:hover {
    font-weight: 500;
}
*/

#studio-nav {
    position: fixed;
    left: 10%;
    top: 50%;
    text-align: left;
    padding-left: 15px;
    font-weight: 300;
    font-style: bold;
    font-size: 24px;
    z-index: 1;
}

#lab-nav {
    position: fixed;
    right: 10%;
    top: 50%;
    text-align: right;
    padding-right: 15px;
    font-weight: 300;
    font-style: bold;
    font-size: 24px;
    z-index: 1;
}

main {
    max-width: 600px;
    margin: auto;
}

img {
    text-align: center;
    margin: 60px;
    height: 100%;
    max-width: 500px;
    border: black;
    filter: brightness(0.8);
    background-color: white;
    border-radius: 10px;
}

img:hover {
    filter: brightness(1);
}

footer {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-align: center;
}

.title-subtitle {
    padding-left: 70px;
    max-width: 940px;
    margin-top: 150px;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 84px;
    max-width: 940px;
    /*left: 10%;*/
    font-family: "Domine", serif;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 48px;
    max-width: 735px;
    left: 10%;
    font-style: italic;
    font-weight: 100;
    font-family: "Domine", serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px;
    padding: 0px;
    margin: auto;
    margin-top: 100px;
    z-index: -1;
}

.grid-item {
    padding: 10px;
    max-width: 100px;
    z-index: -1;
}

h3 {
    /*position: relative;*/
    text-align: left;
    font-size: 36px;
    max-width: 735px;
    /*left: 20%;*/
    font-weight: lighter;
    font-weight: 600;
    margin-top: 100px;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}

h4 {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 32px;
    margin-bottom: 32px;
    font-style: italic;
    left: 20%;
    max-width: 750px;
}

h5 {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 32px;
    margin-bottom: 32px;
    left: 20%;
    max-width: 750px;
}