html {
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    color: whitesmoke;
    font-family: "Raleway", sans-serif;
    background-color: rgb(75, 1, 1);
}

body {
    margin: auto;
    max-width: 1000px;
}

header {
    text-align: right;
    justify-content: flex-end;
    font-weight: 300px;
}

/*
nav {
    text-align: right;
    display: flex;
    justify-content: space-between;
}
*/

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 100;
}

a:hover {
    font-weight: 300;
}

#studio-nav {
    position: fixed;
    left: 0%;
    top: 50%;
    text-align: left;
    padding-left: 15px;
    font-weight: 100;
    font-size: 24px;
}

#lab-nav {
    position: fixed;
    right: 0%;
    top: 50%;
    text-align: right;
    padding-right: 15px;
    font-weight: 100;
    font-size: 24px;
}

main {
    max-width: 500px;
    margin: auto;
}

iframe {
    text-align: center;
    margin: 60px;
    height: 225px;
    width: 400px;
    border: black;
    filter: brightness(0.2);
    background-color: white;
    border-radius: 2px;
}

iframe:hover {
    filter: brightness(1);
}

footer {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-align: center;
}

.title-subtitle {
    padding-left: 70px;
    max-width: 940px;
    margin-top: 150px;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 84px;
    max-width: 940px;
    /*left: 10%;*/
    font-family: "Domine", serif;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 48px;
    max-width: 735px;
    left: 10%;
    font-style: italic;
    font-weight: 100;
    font-family: "Domine", serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 20px;
    max-width: 650px;
    margin: auto;
    margin-top: 100px;
}

.grid-item {
    padding: 10px;
}

h3 {
    /*position: relative;*/
    text-align: left;
    font-size: 36px;
    max-width: 735px;
    /*left: 20%;*/
    font-weight: lighter;
    font-weight: 600;
    margin-top: 100px;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}

h4 {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 32px;
    margin-bottom: 32px;
    font-style: italic;
    left: 20%;
    max-width: 750px;
}

h5 {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 32px;
    margin-bottom: 32px;
    left: 20%;
    max-width: 750px;
}

.design-concept {
    max-width: 575px;
}

.api-data {
    text-align: right;
    line-height: 18px;
    max-width: 225px;
}